/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    overflow: hidden; /* Prevent scrollbars from appearing */
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('image.jpg'); /* Replace 'your-image-url.jpg' with the path to your image */
    background-size: cover;
    background-position: center;
    z-index: -1;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Adjust the opacity (fourth parameter) as needed */
    z-index: -1;
}

.container {
    position: relative;
    z-index: 1; /* Place it above the background */
    width: 80%;
    max-width: 400px;
    margin: 2rem auto;
    background-color: #black;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: #333;
    margin-bottom: 1rem;
}

label {
    color: #555;
    font-family: 'Fira Sans', sans-serif;
    font-size: 1.1rem;
}

input[type="number"],
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 5px 0;
}

input::placeholder {
    font-weight: lighter;
}

input[type="button"],
input[type="reset"] {
    width: 45%;
    background-color: #007BFF;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 10px;
    transition: background-color 0.2s;
}

input[type="button"]:hover,
input[type="reset"]:hover {
    background-color: #0056b3;
}

.res_sub_container {
    display: flex;
    justify-content: space-between;
}

input[type="text"] {
    width: 45%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 5px 0;
	color : red;
}
